<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Define deposit event publisher and listener bean.  -->
    <bean id="depositEventPublisherBean" class="com.xliu.publisher.DepositEventPublisher"> </bean>
    <bean id="depositEventListenerBean" class="com.xliu.listener.DepositEventListener"> </bean>

    <!-- Define withdraw event publisher and listener bean.  -->
    <bean id="withdrawEventPublisherBean" class="com.xliu.publisher.WithdrawEventPublisher"> </bean>
    <bean id="withdrawEventListenerBean" class="com.xliu.listener.WithdrawEventListener"> </bean>
</beans>